Fast guide: [10 Minutes to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html)

In [25]:
import numpy as np
import pandas as pd

In [26]:
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

my_columns_names = ['temperature', 'activity']

my_dataframe = pd.DataFrame(data=my_data, columns=my_columns_names)

print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [27]:
# Create a new column from an existing column

my_dataframe["adjusted"] = my_dataframe["activity"] + 2

print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [28]:
# Specifying a subset of a DataFrame

print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int32

## Task 1: Create a DataFrame

Do the following:

  1. Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named `Eleanor`,  `Chidi`, `Tahani`, and `Jason`.  Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

  2. Output the following:

     * the entire DataFrame
     * the value in the cell of row #1 of the `Eleanor` column

  3. Create a fifth column named `Janet`, which is populated with the row-by-row sums of `Tahani` and `Jason`.

In [29]:
columns_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

data = np.random.randint(low=0, high=101, size=(3, 4))

df = pd.DataFrame(data=data, columns=columns_names)

print(df)

print("\nSecond row of the Eleanor column: %d\n" % df['Eleanor'][1])

df['Janet'] = df['Tahani'] + df['Jason']

print(df)

   Eleanor  Chidi  Tahani  Jason
0       86     72       3     76
1       33     30      42     34
2       89     69       6     62

Second row of the Eleanor column: 33

   Eleanor  Chidi  Tahani  Jason  Janet
0       86     72       3     76     79
1       33     30      42     34     76
2       89     69       6     62     68

## Referencing X Copying DataFrame

In [30]:
# Changes in df will be reflected in reference_to_df (vice-versa)
reference_to_df = df

# Changes in df will NOT be reflected in copy_of_df (vice-versa)
copy_of_df = df.copy()